body {
	background: rgb(119, 133, 144);
	font-family: 'Delius', cursive
}
header {
  text-align: center;
  color: white;
  margin: 0px 0px 0px 0px;
  border: 7px solid rgb(59, 117, 167);
  border-radius: 20px;
  font-family:'Sacramento', cursive;
  background: url("images/blurbackground.jpg")
    }
iframe {
}
ul {
	color: white;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
	font-family: 'Delius', cursive;
}
a {
	color: rgb(59, 117, 167);
	font-family: 'Delius', cursive;
}
h1 {
	text-align: center;
  font-family: 'Sacramento', cursive;
}
img {
  border: 7px solid rgb(59, 117, 167);
  border-radius: 20px;
}
p {
	font-family: 'Delius', cursive;
}
h2 {
	font-family: 'Delius', cursive;
}
table {
	font-family: 'Delius', cursive;
}
	
