<link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>
body {
	background-color: grey;
}
header {
  text-align: center;
  color: white;
  margin: 0px 0px 0px 0px;
  border: 7px solid rgb(59, 117, 167);
  border-radius: 20px;
  font-family: 'Sacramento', cursive;
  background: url("images/texturebackground.jpg")
    }
li {
  display: inline;
  padding: 0px 10px 0px 10px;
	font-family: 'Delius', cursive;
}
a {
	color: rgb(59, 117, 167);
	font-family: 'Delius', cursive;
}
h1 {
	text-align: center;
  font-family: 'Sacramento', cursive;
}
img {
  border: 7px solid rgb(59, 117, 167);
  border-radius: 20px;
}
