body {
	background: rgb(119, 133, 144);
	font-family: 'Delius', cursive;
	color: white;
}
header {
  text-align: center;
  color: white;
  font-family:'Sacramento', cursive;
  background: url("images/croppedskybackground.jpg");
    }
.header-links {
	padding: 10px 0px 10px 0px;
      	background: rgba(0,0,0,0.5);
}
.hlinks {
	display: inline;
      	padding: 0px 5px 0px 10px;
}
.atm-links {
	color: black;
}
iframe {
}
ul {
			color: white;
    }
li {
	font-family: 'Delius', cursive;
	color: white;
}
a {
	color: white;
	font-family: 'Delius', cursive;
}
h1 {
	text-align: center;
  font-family: 'Sacramento', cursive;
	font-size: 40px;
	color: white;
}
img {
  border: 7px solid white;
  border-radius: 20px;
	display: block;
    margin: auto;
    width: 40%;
}
p {
	font-family: 'Delius', cursive;
	color: white;
	
}
 article {
      max-width: 800px;
      padding: 20px;
      margin: 0 auto;
    }
h2 {
	font-family: 'Delius', cursive;
	color: white;
}
table, tr {
	font-family: 'Delius', cursive;
	color: white;
	border: 1px solid rgb(119, 133, 144);
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	height: 50px;
}
td, th {
	padding: 15px;
	text-align: left;
}
th {
	background-color: rgb(91, 190, 216);
	color: white;
}
td, tr {
	color: black;
	background-color: rgb(255, 255, 255);
}
.title {
	font-size: 60px;
}
	
